# Data Wrangling 1

<h5>

**Wrangling** /ˈræŋ.ɡəl.ɪŋ/

the activity of taking care of, controlling, or moving animals, especially large animals such as cows or horses

</h5>

([Cambridge Dictionary](https://dictionary.cambridge.org/dictionary/english/wrangling))

![Cattle Wrangler - image from https://commons.wikimedia.org/wiki/File:Pioneer_Day_Wrangler.jpg](https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Pioneer_Day_Wrangler.jpg/320px-Pioneer_Day_Wrangler.jpg)

**[Data wrangling](https://en.wikipedia.org/wiki/Data_wrangling)** commonly refers to the transformation of data from one "input" format (e.g., `.csv` files from an experiment), to a different format (e.g., a tidy dataframe) that is more appropriate to the needs of an analysis. In the context of the ExPra experiments, you will use data wrangling techniques to implement the transformations and data cleaning steps specified in your preregistrations.

We will use [`tidyverse`](https://www.tidyverse.org/) packages to implement our data wrangling. The "tidyverse" is a series of packages which share a philosphy based around code and data structures (e.g., "[tibbles](https://tibble.tidyverse.org/)") that are (a) tidy, and (b) readable.

The most useful tidyverse packages for wrangling data are `dplyr` and `tidyr`. The [`dplyr`](https://dplyr.tidyverse.org/) package has useful functions for manipulating tibbles (dataframes), such as sorting, filtering, and editing columns. The [`tidyr`](https://tidyr.tidyverse.org/) package has functions that help us tidy or reformat dataframes.

<img src="https://www.tidyverse.org/css/images/hex/dplyr.png" width=138>
<img src="https://www.tidyverse.org/css/images/hex/tidyr.png" width=138>

<br>

In this session, we will cover how to use 6 very handy functions from `dplyr` package:

* [`arrange()`](#arrange)
* [`filter()`](#filter)
* [`select()`](#select)
* [`pull()`](#pull)
* [`mutate()`](#mutate)
* [`summarise()`](#summarise)

## Setup

### Setup Part 1: Install Packages

````{margin}
```{warning}
Remember, you should install packages in the console - never in a script that your share with others. This is because otherwise, your script will go to the effort of reinstalling a package *every time* it is run!
````

You can install the tidyverse packages like so:

```
install.packages("tidyverse")
```

This includes many packages that we won't be using today, but which will be useful in other parts of the course (e.g., we will use `ggplot2` for Data Visualisation).

### Setup Part 2: Check `dplyr` Loads

Now, we can test that the package we will be using today actually loads. You should be able to run this code without any errors:

In [ ]:
options(repr.plot.width=3.5, repr.plot.height=3, repr.matrix.max.rows=10)

In [ ]:
library(dplyr)

### Setup Part 3: Check the Data Loads

Finally, check that you can access the dataset we'll be using in this session. The `starwars` dataset is a dataset built into `dplyr` that contains details of characters from the Star Wars films:

In [ ]:
print(starwars)

This snapshot shows an example of tidy data - a philosophy of organising data such that each observation (*character*) has a single row, with all variables tied to that character as a single column.

Now that we're all set up, let's start a-wrangling...

---

## `arrange()`

We can use the `arrange()` function to sort by variables in the dataframe.

### Numeric Variables

For example, we can arrange all characters in order of height (shortest to tallest) like so:

In [ ]:
arrange(starwars, height)

In [ ]:
arrange(starwars, height) |> print()

The `arrange()` function, like most `dplyr` verb functions, takes the dataframe (`starwars`) as its first argument, and the variable names (e.g., `height`) as subsequent arguments.

In height order, we can see that Yoda is the shortest character, at 66 cm, with podracer [Ratts Tyerell](https://starwars.fandom.com/wiki/Ratts_Tyerell) next shortest, at 79 cm.

<br><br>
We can also arrange the dataframe in *descending* order, with the *`desc()`* function.

In [ ]:
arrange(starwars, desc(height))

In [ ]:
arrange(starwars, desc(height)) |> print()

This shows us that long-necked Jedi, [Yarael Poof](https://starwars.fandom.com/wiki/Yarael_Poof), is the tallest character, at 264 cm.

<br>

### Character Variables

As well as sorting by numeric variables, we can also sort by character variables. For instance, we can sort by hair colour. If we do this we will sort hair alphabetically, from "auburn" to "white".

In [ ]:
arrange(starwars, hair_color)

In [ ]:
arrange(starwars, hair_color) |> print()

<br>

### Combining Statements

Finally, we can sort by multiple variables at once with comma-separated statements. For instance, we may want to sort by hair colour alphabetically, and then by height descendingly:

In [ ]:
arrange(starwars, hair_color, desc(height))

In [ ]:
arrange(starwars, hair_color, desc(height)) |> print()

<br>

### Check your Knowledge!

Try coming up with code to solve the following:

1. Sort descendingly by mass, such that the most massive character comes first.

2. Sort by gender, eye colour, and then height. Which character is the first observation? Why?

<br>

<br>

---

## `filter()`

The `filter()` function is useful for subsetting rows of data.

### Character Variables

For example, we can easily filter our dataset to find all our data on Darth Vader. The following code says that we should *filter* the dataframe called *starwars* to only include rows where the variable called `name` has the value `"Darth Vader"`:

In [ ]:
filter(starwars, name=="Darth Vader")

In [ ]:
filter(starwars, name=="Darth Vader") |> print()

<img src="https://media1.giphy.com/media/Uu4WP50jNo1uZeor4t/giphy.gif" width=250>

<sub><sup>[via giphy](https://media.giphy.com/media/Uu4WP50jNo1uZeor4t/giphy.gif)</sup></sub>

<br><br>
To find all characters that are *not* Darth Vader, we can use `!=`, which stands for "does not equal." This returns all rows in the dataframe where the `name` column does not have the value `"Darth Vader"`.

In [ ]:
filter(starwars, name!="Darth Vader")

In [ ]:
filter(starwars, name!="Darth Vader") |> print()


<br><br>
We can also filter to include a list of characters. To do this, we first define a character vector of characters we wish to keep. We can then filter to only include characters whose `name` is in (`%in%`) that vector:

In [ ]:
cool_droids <- c("C-3PO", "R2-D2", "IG-88")
filter(starwars, name %in% cool_droids)

In [ ]:
filter(starwars, name %in% cool_droids) |> print()


<br><br>
As with `==` and `!=`, we can invert `%in%` to only include characters who are *not* in the list. To do this, we put an exclamation mark (`!`) at the *start* of the statement:

In [ ]:
filter(starwars, !(name %in% cool_droids))

In [ ]:
filter(starwars, !(name %in% cool_droids)) |> print()

<br>

### Numeric Variables

The `filter()` function can also deal with numeric values. For instance, we can filter to only include characters who are shorter than, or are exactly, 96 cm tall. To do this we use `<=`, which stands for "less than or equal to", or "≤".

In [ ]:
filter(starwars, height<=96)

In [ ]:
filter(starwars, height<=96) |> print()

<br>

### Combining Statements

Finally, as in other `dplyr` functions, we can combine multiple comma-separated statements in one use of the `filter()` function. Here we filter to only include characters who:
* come from Tatooine
* are at least 100 cm tall
* are human

In [ ]:
filter(starwars, homeworld=="Tatooine", height>=100, species=="Human")

In [ ]:
filter(starwars, homeworld=="Tatooine", height>=100, species=="Human") |> print()

<br>

### Check your Knowledge!

Try coming up with code to solve the following:

1. Exclude any characters who come from Tatooine, Zolan, or Naboo.

2. Filter to only include female characters who are between 160 and 200 cm.

<br>

---

## `select()`

The `select()` function is useful for subsetting *columns*.

### Selecting Specific Columns

For instance, if we only want to select the `name` and `height` columns, we can do this like so:

In [ ]:
select(starwars, name, height)

In [ ]:
select(starwars, name, height) |> print()

<br><br>

To include all columns *except* a given column, we can use the exclamation mark (`!`) or a minus (`-`).

In [ ]:
select(starwars, !height)

In [ ]:
select(starwars, !height) |> print()

<br>

### Reordering Columns

When we use `select()`, we can also specify the order of columns. For instance, we can select the columns `name`, `gender`, and `homeworld` in a new order.

In [ ]:
select(starwars, homeworld, name, gender)

In [ ]:
select(starwars, homeworld, name, gender) |> print()

<br>

### Selecting a Range of Columns

We can say that we want to select variables in a range (e.g., from `name` until `hair_color`) with a colon (`:`).

In [ ]:
select(starwars, name:hair_color)

In [ ]:
select(starwars, name:hair_color) |> print()

<br>

### Selection Helpers

The tidyverse also supports a range of [selection helpers](https://dplyr.tidyverse.org/reference/dplyr_tidy_select.html). For example, we can use `everything()` to select everything not already selected. This can be useful if we want to set a new first column (e.g., `homeworld`), but keep the other columns in their existing order:

In [ ]:
select(starwars, homeworld, everything())

In [ ]:
select(starwars, homeworld, everything()) |> print()


<br><br>
We can also use selection helpers to select variables that *start* (`starts_with()`), *end* (`ends_with()`), or *contain* (`contains()`) a given string.

Here we select variables that:
* Contain "color"
* End with the character "s"

In [ ]:
select(starwars, contains("color"), ends_with("s"))

In [ ]:
select(starwars, contains("color"), ends_with("s")) |> print()

<br>

### Check your Knowledge!

Try coming up with code to solve the following:

1. Reorder the columns so that the first two columns are `eye_color` and `films`.

2. Remove any columns that end with the word `"color"`.

<br>

---

## `pull()`

While `select()` subsets columns in our dataframe, the output is still stored as a column in a dataframe. Instead, we may want to store the results in a more standard data format. The `pull()` function makes this easy.

In [ ]:
pull(starwars, name)

In [ ]:
pull(starwars, name) |> print()

<br>

This is a tidyverse equivalent to the `$` operator. Another way of writing this would be:

In [ ]:
starwars$name

In [ ]:
print(starwars$name)

<br>

Extracting variables in this way can be useful for passing the output to more standard R functions. In this example, we use the `unique()` function to find all unique values for the `homeworld` variable, sorted in alphabetic order.

In [ ]:
hws <- pull(starwars, homeworld)
sort(unique(hws))

In [ ]:
sort(unique(hws)) |> print()

<br>

### Check your Knowledge!

Try coming up with code to solve the following:

1. Use `pull()` to extract the values for `mass`, and calculate the average (via `mean()`). Note: you may have to set `na.rm=TRUE`, as some observations are missing.

2. Use `pull()` to extract the eye colours. How many different categories for eye colour are there?

<br>

---

## `mutate()`

The `mutate()` function allows us to edit columns and add new columns in dataframes.

### Editing Existing Columns

Suppose we want to convert all values in the `name` column to be lowercase. We can do this like so, with the `tolower()` function:

In [ ]:
mutate(starwars, name=tolower(name))

In [ ]:
mutate(starwars, name=tolower(name)) |> print()

<br>

### Adding new columns

We can also create new columns with this syntax. These can be calculated from the values of existing columns. For example, character heights are currently stored in *centimeters*. We can create a new column, height_inches, which will be the same data but converted into *inches* (by dividing by 2.54).

In [ ]:
mutate(starwars, height_inches=height/2.54)

In [ ]:
mutate(starwars, height_inches=height/2.54) |> print()

<br>

### Check your Knowledge!

Try coming up with code to solve the following:

1. Add a new column that contains the number of characters (letters, including spaces) in each starwars character's name. *Hint: `nchar()` can count characters in text*

2. The example above makes it hard compare `height` and `height_inches`. Can you combine `mutate()` with `select()` to show the two height values side by side?

<br>

---

## `summarise()`

The `summarise()` function lets us calculate summary statistics for our dataframe. It can be coimbined with `group_by()` to calculate summary statistics for groups separately (e.g., factorial designs in an experiment).

### Overall Summaries

On it's own, `summarise()` gives us overall summary statistics for the dataframe. For example, we can calculate the average height (ignoring missing observations) like so:

In [ ]:
summarise(starwars, mean_height = mean(height, na.rm=TRUE))

In [ ]:
summarise(starwars, mean_height = mean(height, na.rm=TRUE)) |> print()

<br>

We can ask for multiple summary statistics. For example, we can also calculate the standard deviation (`sd()`), and calculate these variables for multiple variables (both `height` and `mass`).

In [ ]:
summarise(
    starwars,
    mean_height = mean(height, na.rm=TRUE),
    sd_height = sd(height, na.rm=TRUE),
    mean_mass = mean(mass, na.rm=TRUE),
    sd_mass = sd(mass, na.rm=TRUE)
)

In [ ]:
summarise(
    starwars,
    mean_height = mean(height, na.rm=TRUE),
    sd_height = sd(height, na.rm=TRUE),
    mean_mass = mean(mass, na.rm=TRUE),
    sd_mass = sd(mass, na.rm=TRUE)
) |>
    print()

<br>

## Per-Group Summaries

If we call `group_by()` before `summarise()`, we can calculate summary statistics per group. For example, we could calculate the Mean and SD of height and mass for each category of sex.

In [ ]:
starwars_grouped <- group_by(starwars, sex)

summarise(
    starwars_grouped,
    mean_height = mean(height, na.rm=TRUE),
    sd_height = sd(height, na.rm=TRUE),
    mean_mass = mean(mass, na.rm=TRUE),
    sd_mass = sd(mass, na.rm=TRUE)
)

In [ ]:
starwars_grouped <- group_by(starwars, sex)

summarise(
    starwars_grouped,
    mean_height = mean(height, na.rm=TRUE),
    sd_height = sd(height, na.rm=TRUE),
    mean_mass = mean(mass, na.rm=TRUE),
    sd_mass = sd(mass, na.rm=TRUE)
) |>
    print()

<br>

As a brief teaser for [Data Wrangling Part 2](https://jackedtaylor.github.io/expra-wise24/introduction/data_wrangling_2.html), we can rewrite this into a single chain, via the pipe operator (`|>`).

In [ ]:
starwars |>
    group_by(sex) |>
    summarise(
        mean_height = mean(height, na.rm=TRUE),
        sd_height = sd(height, na.rm=TRUE),
        mean_mass = mean(mass, na.rm=TRUE),
        sd_mass = sd(mass, na.rm=TRUE)
    )

In [ ]:
starwars |>
    group_by(sex) |>
    summarise(
        mean_height = mean(height, na.rm=TRUE),
        sd_height = sd(height, na.rm=TRUE),
        mean_mass = mean(mass, na.rm=TRUE),
        sd_mass = sd(mass, na.rm=TRUE)
    ) |>
    print()

<br>

## Counting Observations

One common use of `group_by()` and `summarise()` is to count the number of observations. Here, we count the number of observations for each category of `sex`, via the `n()` function.

In [ ]:
starwars |>
    group_by(sex) |>
    summarise(N = n())

In [ ]:
starwars |>
    group_by(sex) |>
    summarise(N = n()) |>
    print()

<br>

### Check your Knowledge!

Try coming up with code to solve the following:

1. Create a single summary that contains the mean height, SD of height, and number of observations, for each category of `sex`.

2. Count the number of observations for each category of `species`, and combine this with another function you have learned to sort descendingly (most populous species first).